
.about-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    max-width: 2000px;
    /* left: 20px; */
  
 
 /* this is the first section */
}

  .content{
  
    background-image: url("../assets/blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    max-width: 2000px;
   
    margin-top: -46px;
    padding: 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  
  }
  
  
  .blog svg {
    margin-right: 5px;
  }
  .barg{
   font-size: 1rem;
    display: flex;
    justify-content: center;
color: white;
  }
.about{
 font-size: 2rem;
    font-weight: bold;
  display: flex;
  justify-content: center; 
  color:white;
  top: 200px;
  margin-right: 800px;
  padding: 100px 100px;
}
.blog{
  display: flex;
  color: #4caf50;
   display: inline-flex;
     align-items: center;
}
/* this is the 2'nd section */

.about-info {
 
  padding: 30px;
 

  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  margin-left:400px;
 
}

.about-info h2 {
  color: #2c7a2c;
  font-size: 26px;
  margin-bottom: 10px;
}

.about-info p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Button Styling */
.cta {
  background-color: #2c7a2c; 
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 5px; */
  margin-right:1000px;
  width: 60%;
  margin-bottom: -200px;
}

.cta:hover {
  background-color: #1f5b1f;
}

/* Secondary Button */
.cta.secondary {
  background-color: #ffffff;
  color: #2c7a2c;
  border: 2px solid #2c7a2c;
  margin-left: 500px;
  width: 50%;
  
}

.cta.secondary:hover {
  background-color: #d4edd4;
}


 

.featured {
  padding: 40px 20px;
  text-align: center;
  margin: 30px auto;
}

.featured h2 {
  color: #2c7a2c; 
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}


.cooperative-list {
  /* display: flex; */
  justify-content: center;
  
  /* flex-wrap: wrap; */
  padding: 20px;
  flex-direction:column
}

.cooperative {
 
 display: flex;
 font-weight: bold;
  /* transition: transform 0.3s ease-in-out; */
}
 .subscribe{
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  text-align: center;
}
.search-input {
   
 
  padding: 25px ; 
  font-size: 16px;
  border: 1px solid #4bce2b;
  border-radius: 8px;
  outline: none;
  width: 30%;
}
.sub{
  width: 10%;
  background-color: #6cdf7f;
  border: none;
  border-radius: 6px;
  padding:3px ;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}