.navbar {
    background-color: #084d0a;
    color: white;
    padding: 15px;
   
    /* width: 1000px; */
   
  }

  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #e6f4ea; 
    display: flex;
    align-items: center;
    gap: 8px; 
    /* padding: 10px 20px; */
    width: fit-content;
  }
  .menu {
   display: flex;
    padding: 10px 0;
    text-align: center;
    top:100px;
    margin-left: 400px;
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu li {
  display: inline-block;
}

.menu .list {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.menu .list:hover {
  background-color: #8ddd94;
  color: #fff;
}

@media (max-width: 768px) {
  .menu ul {
      flex-direction: column;
      gap: 10px;
  }
}

  